*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  z-index: 2;
  position: fixed;
  width: 100%;
}
.container{
  min-height: 100vh;
  position: relative; 
  display: flex;
  flex-direction: column;
}
#nav{
  /* background-color: beige; */
  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 40%, #F7CE68 72%);

  /* background-image: linear-gradient( 173.1deg,  rgba(226,66,249,0.94) 10.2%, rgba(79,147,249,1) 77.3% ); */
  height: 8vh;
  width: 100vw;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.5);

}
.logo{
  height: 8vh;
  margin-left:10px ;

}
#title{
  margin: 5px;
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding-left: 20px;
  color: rgb(69, 69, 69);

}
.nav-flex{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  list-style: none;
  margin-right: 100px;
  /* padding: 10px; */
}
.nav-flex2{
  display: flex;
  align-items: center;
  /* margin: 5px; */
  padding: 10px;
}
.title2{
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 10px;
  margin-top: 5px;
  padding: 20px;
  position: relative;
  top: 20px;
  text-decoration: none;
  color: rgb(69, 68, 68);
  
}
.flex3{
  display: flex;
  
}

.leftbox{
  position: relative;
  left: 20vh;
}


.foot{
  height: 6vh;
  /* background: beige;
   */
   background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 40%, #F7CE68 72%);

  display: flex;
  justify-content: center;
  padding-top: 15px;
  box-shadow: 0 -2px 10px 2px rgba(0, 0, 0, 0.5);

}
.contentBox{
  padding-top: 5rem;
  width: 90vw;
  margin: auto;
  border: 1px solid black;
  background-image: linear-gradient( 111.4deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: space-around;
  align-items:stretch ; */


  box-shadow: 0px 0px 10px 2px black;
}

.items-section{
  /* flex: 1;
  max-width: 45%;
  margin: 10px; */

  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.rightbox img{
  width: 30vw;
  height: 45vh;
  border-radius: 1rem;
  transition: all 0.2s linear 0s;
  
}
.rightbox:hover{
  transform: scale(1.1);
}
.items{
  text-shadow: 2px 2px 4px rgb(61, 61, 60);
  color: rgb(233, 223, 223);
}
.ingredients{
  padding: 10px;
  /* box-shadow: 0px 0px 10px 10px white; */
}
.Recipe{
  padding: 10px;  
}
.rightbox{
  position: relative;
  overflow: hidden;
  transition: all 0.3s linear;
  right: 10vh;
}
.rightbox .overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(29, 28, 28, 0.706);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s linear;
}

.rightbox:hover .overlay{
  opacity:1 ;
}

.rightbox .overlay span{
  color: white;
  font-size: 1.2rem;
}

.ingredients h2,.Recipe h2{
  text-shadow: 2px 2px 4px rgb(3, 3, 3);
  color: rgb(244, 225, 19);
}

@media (max-width:900px) {
  .title2{
    opacity: 0;
  }
  #title{
    font-size: 2rem;
  }
  .rightbox{
    width: 35vw;
  }
  .leftbox{
    width: 35vw;
  }
}
@media (max-width: 750px) {
  
  #title{
    font-size: 1.5rem;
  }
}